* {
}

body{
  background-image: linear-gradient(salmon, red, salmon);
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: 800;
  font-size: 60px;
  margin: 10px 80px 10px 80px;
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
}

#fish{
  width: 300px;
  margin: 10px auto 10px auto;
  vertical-align: middle;
}

nav{
  width: 60%;
  margin: 0px auto 0px auto;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 30px;
  background-image: linear-gradient(to right, grey, white, grey);
  text-align: left;
}

a{
  color: black;
  text-decoration: none;
  transition: 0.2s;
  padding: 5px 0px 5px 100px;
}

a:hover{
  color: red;
}


#constructionText{
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

#constructionPic{
  width: 40%;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
}

footer{
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
}
