* {
}

header{
  background-color: pink;
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: 800;
  font-size: 40px;
}

h2{
  font-weight: bold;
  font-size: 20px;
  background-color: lightgrey;
  color: black;
}

table, th, td, tr{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 20px;

}

.SeattleData, .DubaiData, .LimaData{
  background-color: lightgreen;
  color: darkblue;
}

.TokyoData, .ParisData{
  background-color: lightblue;
  color: purple;
}

.totals{
  font-weight: bold;
}

.tableHeader, .tableFooter{
  font-weight: bold;
  background-color: blanchedalmond;
}

footer{
  background-color: pink;
  color: red;
}
